 

<div class='left_float d-none d-lg-block '></div>
            

<div class='left_float1'>

    <div class='row p-0 m-0'>

        <!-- {/* ----------------------main login page column------------------ */} -->
        <div class='col-4'></div>
        <div class='col-12 col-sm-12 col-md-12 col-lg-8 p-0 m-0 '>
            <!-- <div class='left_float d-none d-lg-block'>feawFQ</div>  -->
            <div class='padding-left '>
                <!-- {/* ----------login box---------- */} -->
                <div class='login_box  mx-auto'>
                    <div class='row'>
                        <div class='col-12 col-sm-12 col-md-5 col-lg-5'>
                            <div class='d-inline-flex pl-2 mx-auto'>
                                <img src="../../assets/grampanchayt.png" class="logo ">
                                <div class="border d-none d-lg-block">
                                </div>
                            </div>
                        </div>
                        <div class='col-12 col-sm-12 col-md-7 col-lg-7  '>
                            <div class="box_content">
                                <b class="log_in">लॉगीन करा </b><br />
                                <p>तुमची पूर्ण ग्रामपंचात, अगदी सोप्या पद्धतीने, तुमच्यासाठी !</p>
                                <div class="mb-3">
                                    <input type="text" placeholder="कोडनाव" class="mb-3" />
                                    <input type="text" placeholder="पासवर्ड" />
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-sm rounded-pill bg-dark"><b
                                        class="btn_text">लॉगीन करा</b></button>
                                </div>
                                <div>
                                    <p class="mb-1">किंवा</p>
                                    <p><b class="text-dark">मोबाइल फोनने लॉगिन करा.</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='right_float'>
  <div class=''>
  <b class="log_in pl-5">नोटीसबोर्ड </b>
  <div class='box_link mx-auto mb-2 mt-2'>
  <p>सर्व ग्रामसेवकांना कळविण्यात येते की, नवीन GR २०११/२३/११ हा खालील लिंक वर उपलब्ध आहे. </p>
  
  <div>
  <button class="btn btn-sm rounded-pill bg-dark"><b
                                        class="btn_text">लिंक उघडा </b></button>
  </div>
  </div>
  <div class='box_link mx-auto'>
   <p>१५ ऑगस्ट २०२३ ची ग्रामसभा कोणी घेतली नसेल तर ती घेऊन टाकावी.</p>
  </div>
  </div>
</div>
