<div class="left_side d-none d-lg-block">

</div>
<div class="">
    <div class="container-fluid back_color p-0">
        <div class="row p-0 m-0">
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 m-0 p-0 pt-2 pl-2">
                <div class="pl-4 pt-4 mb-0 ">
                    <div class="d-inline-flex line_height">
                        <div>
                            <img src="../../assets/download.jfif" height="60" width="60" alt="">
                        </div>
                        <div class="user_padding pl-3">
                            <p class="user_name">Raosaheb Ghuge</p>
                            <p class="sub_title pt-2">UI UX DEVELEOPER</p>
                            <p class="bold_title pt-2">Mumbai, MH, India</p>
                        </div>
                    </div>
                    <hr class="bg-dark mt-1 mr-5">
                    <!-- hr----------------------------- -->
                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-6 col-lg-3">
                            <div>
                                <h6 class="sub_main_title">CONTACT DETAILS <i class="fa-solid fa-pencil year_pl"></i></h6>
                                <P class="sub_title mb-2 pt-2">Phone No.</P>
                                <p class="bold_title pt-2">+91 8689988686</p>
                                <P class="sub_title mb-2 pt-2">WhatsApp</P>
                                <p class="bold_title pt-2">+91 8689988686</p>
                                <P class="sub_title mb-2 pt-4">Email</P>
                                <p class="bold_title pt-2">rao@baapcompany.com</p>
                            </div>
                            <div>
                                <h6 class="sub_main_title pt-5">KYC <i class="fa-solid fa-pencil year_pl"></i></h6>
                                <P class="sub_title mb-2 pt-3">Adhaar card</P>
                                <p class="bold_title pt-2">129938488577575</p>
                                <P class="sub_title mb-2 pt-2">pancard</P>
                                <p class="bold_title pt-2">ASWPG28838</p>
                                <P class="sub_title mb-2 pt-2">Passport</P>
                                <p class="bold_title pt-2">ASWPG28838</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-7 col-md-6 col-lg-4">
                            <div>
                                <h6 class="sub_main_title">ORGANIZATIONS <i class="fa-solid fa-pencil year_pl"></i></h6>
                                <P class="sub_title mb-2 pt-2">Nimon</P>
                                <div class="d-flex">
                                    <p class="bold_title pt-2">Citizen</p>
                                    <P class="sub_title mb-2 pt-2 pl-5">Since 2014</P>
                                </div>
                                <p class="bold_title pt-2">Apps: Grampanchayat, HomeWork</p>
                                <P class="sub_title mb-2 pt-4">The Baap Company</P>
                                <div class="d-flex">
                                    <p class="bold_title pt-2">Admin</p>
                                    <P class="sub_title mb-2 pt-2 pl-5">Since 2014</P>
                                </div>
                                <p class="bold_title pt-2">Apps: Grampanchayat, HomeWork</p>
                            </div>

                            <div>
                                <h6 class="sub_main_title pt-5">EXPERIENCE <i class="fa-solid fa-pencil year_pl"></i></h6>
                                <P class="sub_title mb-2 pt-2">Patni Compputers</P>
                                <div class="d-flex">
                                    <p class="bold_title pt-2">CEO, Technology</p>&nbsp;
                                    <P class="sub_title mb-2 pt-2 year_pl"> 2011 to 2024</P>
                                </div>
                                <p class="bold_title pt-2 line_height2">Worked as the lead technology and innovation in
                                    the Patni for more than decade. There experienced the dramatic changes in the
                                    performance</p>

                                <P class="sub_title mb-2 pt-2">Patni Compputers</P>
                                <div class="d-flex">
                                    <p class="bold_title pt-2">CEO, Technology</p>&nbsp;
                                    <P class="sub_title mb-2 pt-2 year_pl"> 2011 to 2024</P>
                                </div>
                                <p class="bold_title pt-2 line_height2">Worked as the lead technology and innovation in
                                    the Patni for more than decade. There experienced the dramatic changes in the
                                    performance</p>

                                <P class="sub_title mb-2 pt-3">Patni Compputers</P>
                                <div class="d-flex">
                                    <p class="bold_title pt-2">CEO, Technology</p>&nbsp;
                                    <P class="sub_title mb-2 pt-2 year_pl"> 2011 to 2024</P>
                                </div>
                                <p class="bold_title pt-2 line_height2">Worked as the lead technology and innovation in
                                    the Patni for more than decade. There experienced the dramatic changes in the
                                    performance</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <div>
                                <h6 class="sub_main_title">PAYMENT METHODS <i class="fa-solid fa-pencil year_pl"></i></h6>
                                <P class="sub_title mb-2 pt-2">HDFC Bank</P>
                                <div class="d-flex">
                                    <p class="bold_title pt-2">Account No</p>
                                    <P class="sub_title mb-2 pt-2 pl-5">929838848488575</P>
                                </div>
                                <p class="bold_title pt-2">IFSC : HDFC 203004</p>
                                <P class="sub_title mb-2 pt-4">The Baap Company</P>
                                <div class="d-flex">
                                    <p class="bold_title pt-2">Admin</p>
                                    <P class="sub_title mb-2 pt-2 pl-5">Since 2014</P>
                                </div>
                                <p class="bold_title pt-2">Apps: Grampanchayat, HomeWork</p>
                            </div>
                        </div>
                        <div class="col-2"> </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 p-0 m-0">
                <div class="right_col pt-4">
                    <div class="p-3">
                        <h6 class="sub_main_title">ग्रामपंचायतीची माहिती</h6>
                        <hr class="bg-dark mt-3 mb-1">
                        <div>
                            <img src="../../assets/sitting-removebg-preview (1).png" width="160" height="160" alt="">
                            <h6 class="bold_title pt-2">ROLES AND PERMISSIONS</h6>
                            <P class="sub_title mb-2 pt-3 line_height2">The roles and permissions are such things that is required in
                                the every software product. You define the roles and <b class="bold_color">permissions for your organization</b>
                                only once and then use it forever.<br><br><br> You define the<b class="bold_color"> roles and <br>permissions</b> for your
                                organization only once and then use it forever. 1345.04095 -<b class="bold_color"> Numeric<br> Representation</b> of
                                the things which we do not know.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>