<div class="left_side d-none d-lg-block"></div>
<div class="main_bg ">
    <div class="container-fluid">
        <div class="row p-0 m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class="pl-lg-5 pl-md-4 pl-sm-0">
                    <div class="d-inline-flex main_padding">
                        <p><b class="gram_name">Gram</b></p>
                        <p class="panch_text">panchayt</p>
                    </div>
                    <div>
                        <div class="d-inline-flex">
                            <small class="vill_maintext vill_text"><b class="vill">Empowering Villages</b> and changing the
                                life of the
                                farmers</small>&nbsp;
                        </div>
                    </div>
                </div>
           
                    <div class="form-group input_label ">
                        <p class="label">VERIFY YOUR OTP</p>
                        <div class="d-flex pt-1">
                            <input type="otp" class="form-control input_otp" pattern="^(?!\s|.*\s$).*$">
                            <input type="otp" class="form-control input_otp">
                            <input type="otp" class="form-control input_otp">
                            <input type="otp" class="form-control input_otp">
                            <input type="otp" class="form-control input_otp">
                            <input type="otp" class="form-control input_otp">
                            <button class="btn btn-sm bg-dark text-white ml-2"><i
                                    class="fa-solid fa-chevron-right p-1"></i></button>
                        </div>
                    </div>
              
            </div>
            <div class="note_padding">
                <b class="note">Note</b>
                <p class="note_p">Make sure that you are using your registered email ID for signing up with the
                    gram<br class="d-none d-md-block d-lg-block">
                    panchayat app. We do
                    not recommend you to share your password with anyone.</p>
            </div>
            <div class="baap_name">
                <div class="d-inline-flex mb-0">

                    <p class="the_baap">the</p>&nbsp;
                    <p><b class="the_baap">Baap Company</b></p>&nbsp;
                </div>
               <div>
                <div class="d-inline-flex">
                    <p class="font_family">Font Family</p>&nbsp;
                    <p><b class="google_font">Kumbh Sans (Available on Google Fonts)</b></p>&nbsp;
                </div>
            </div>
               </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
            </div>
        </div>
    </div>
</div>